$primary-color: rgb(233, 214, 162);
$dark-color:rgb(34, 34, 34);

$night-1: rgb(50, 50, 50);
$night-2: rgb(60, 60, 60);
$night-3: rgb(85,85,85);
$night-4: rgb(100,100,100);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


